:root {
  --primary: #1e3a8a;
  --background-color: #2c2c2c;
  --accent: #60a5fa;
  --text-color: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.urban {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5em;
  font-size: 1.625rem;
  font-weight: 800;

  &:hover {
    color: #070707;
  }
}

.container {
  position: relative;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 6.25rem;
  display: flex;
  z-index: 2;

  header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;

    z-index: 1000;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
  }

  .logo {
    padding: 0 0.625rem;
  }

  header li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 3em;
    padding: 0.625rem;
  }

  header a {
    text-decoration: none;
    color: var(--text-color);

    &:hover {
      color: #60a5fa;
    }
  }

  .overlay {
    background-color: #5a5348;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: overlay;
  }

  .social {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1.5em;

    position: absolute;
    bottom: 1.25rem;
  }
}

.burger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}
.burger-menu span {
  width: 1.5625rem;
  height: 0.1875rem;
  background: black;
  margin: 0.3125rem;
}

.text {
  color: #fff;
  z-index: 1000;
}

.text h1 {
  font-size: 3.125rem;
  text-transform: uppercase;
  -webkit-text-stroke: 0.0625rem #fff;
  color: transparent;
}

.text h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
}

.text p {
  width: 100%;
}

.text .explore {
  display: inline-block;
  color: #fff;
  padding: 0.375rem 0.9375rem;
  margin-top: 1em;
  border: 0.125rem solid #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s;
}

.explore:hover {
  letter-spacing: 0.125rem;
}

.container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.menu {
  display: none;
}

.container2 h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2em 0 2em 0;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 1.25rem 3.125rem 1.25rem 3.125rem;

  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 10% cover 40%;
}

.container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 2em auto;
}

#fabs1:hover {
  color: rgb(58, 58, 240);
}

#fabs2:hover {
  color: rgb(255, 59, 141);
}

#fabs3:hover {
  color: rgb(23, 148, 232);
}

#fabs4:hover {
  color: rgb(202, 36, 36);
}

#fb:hover {
  color: rgb(58, 58, 240);
}

#ins:hover {
  color: rgb(255, 59, 141);
}

#twi:hover {
  color: skyblue;
}

.text2 img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  padding: 2em;
}

h1 {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 10% cover 40%;
}

.wrapper img {
  width: 100%;
}

.text2 p,
.text p {
  line-height: 1.5;
}

.text2 {
  max-width: 100%;
  width: 37.5rem;
}

.text2 h1 {
  margin-bottom: 2em;
}

.contact {
  display: flex;
  width: 100%;
  min-height: 25rem;
  padding: 2em;
}

.wrapper2,
.wrapper3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #1c1c1c;
  font-size: 0.875rem;
  width: 100%;
  height: 100%;
}

.wrapper2 {
  display: flex;
  justify-content: space-around;
}

.wrapper2 p {
  color: #f9f9f9;
  max-width: 29.375rem;
}

.wrapper2 h1 {
  color: #f9f9f9;
}

.wrapper3 h1 {
  color: #fffdfd;
}

.wrapper3 a {
  color: #ffffff;
  text-decoration: none;
}

.wrapper3 {
  background-color: rgb(135, 153, 219);
}

.wrapper3 a li {
  list-style: none;
  transition: 0.3s;
  line-height: 2.1;
}

.ct {
  margin-bottom: 2em;
}

.main-main {
  width: 100%;
}

.main-grid {
  width: 100%;
  height: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 5fr 1fr 4fr 4fr;
  grid-template-rows: 6.25rem 100x 6.25rem 6.25rem;
  padding: 0 6.25rem 0 6.25rem;

  gap: 1em;
  grid-template-areas:
    "header header col aside"
    "main footer footer aside";
}

.main-grid img {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
  border-radius: 50%;
}

.testimonial {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em;
}

picture {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.phara {
  margin-top: 2em;
}

.sub-grid1 {
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  color: #f9f9f9;
  background-color: #262b3a;
  grid-area: header;
  position: relative;
  box-shadow: 0.0625rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.4);
}
.sub-grid2 {
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  color: #070707;
  background-color: #e8e6e6;
  grid-area: aside;
  box-shadow: 0.0625rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.4);
}
.sub-grid3 {
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  color: #070707;
  background-color: #e8e8e8;
  grid-area: main;
  box-shadow: 0.0625rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.4);
}
.sub-grid4 {
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  color: #f9f9f9;
  background-color: rgb(104, 104, 104);
  grid-area: col;
  box-shadow: 0.0625rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.4);
}
.sub-grid5 {
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  color: #f9f9f9;
  background-color: rgb(28, 26, 26);
  grid-area: footer;
  box-shadow: 0.0625rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.4);
}

.menu {
  display: none;
}

.main-footer {
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.copyr {
  background-color: #111;
  color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer ul li {
  list-style: none;

  gap: 0.5em;
  font-size: 1rem;
  padding: 0.3125rem;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.625rem;
  width: 50%;
  color: #fff;
  max-width: 50%;
}

.footer a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

.news {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub-news {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #222;
  color: #fff;
  width: 100%;
  height: 12.5rem;
}

button {
  cursor: pointer;
}

.input {
  margin-top: 1em;
}
input {
  width: 25rem;
  height: 3.125rem;
  font-size: 1rem;
}

button {
  height: 3.125rem;
  border: none;
  padding: 0.3125rem;
}

.footer a:hover {
  color: rgb(112, 163, 240);
}

.unorder {
  display: flex;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (min-width: 20rem) {
  .container {
    padding: 7.5rem 0 0 0.625rem;
    font-size: 0.75rem;
  }

  .embark {
    display: none;
  }

  .wrapper2 {
    flex-direction: column;
    padding: 1.25rem;
    line-height: 1.5;
    min-height: 25rem;
  }

  .wrapper3 {
    flex-direction: column;
    padding: 1.25rem;
    line-height: 1.5;
    min-height: 18.75rem;
  }

  .contact {
    flex-direction: column;
    margin-bottom: 3em;
    line-height: 1.5;
    width: 100%;
    height: 100%;
  }

  .wrapper2 p,
  .wrapper3 a {
    font-size: 0.6875rem;
  }

  .wrapper2 p {
    min-width: 12.5rem;
  }

  .wrapper2 h1,
  .wrapper3 h1 {
    font-size: 1.3125rem;
  }

  .text {
    min-width: 12.5rem;
  }

  .wrapper {
    flex-direction: column;
  }

  .text h1,
  .text h2 {
    font-size: 2rem;
  }

  h1,
  h2 {
    font-size: 1.5rem;
  }

  .wrapper img {
    width: 18.75rem;
  }

  .text2 {
    min-width: 18.75rem;
  }

  .main-grid {
    height: fit-content;

    grid-template-columns: 1fr 1fr;
  }

  #grid {
    width: 18.75rem;
  }

  input {
    width: 9.375rem;
  }

  button {
    width: 6.25rem;
  }

  .main-footer {
    flex-direction: column;
  }

  form {
    flex-direction: column;
  }
}

@media screen and (max-width: 48rem) {
  .burger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }

  .burger-menu span {
    width: 1.5625rem;
    height: 0.1875rem;
    background: rgb(255, 255, 255);
    margin: 0.3125rem;
  }

  .unorder {
    display: none;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 3.75rem;
    right: 0;
    background: rgb(103, 159, 207);
    width: 100%;
    height: auto;
    z-index: 10;
  }

  .unorder.active {
    display: flex;
  }

  .unorder ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column !important;
    z-index: 9;
  }

  .unorder li {
    margin: 0.625rem 0;
  }

  .unorder a {
    text-decoration: none;
    color: #000;
  }

  .text {
    z-index: 0;
  }

  .text h1,
  .text h2 {
    font-size: 1.3125rem;
  }

  .text p {
    font-size: 0.75rem;
  }
}

@media screen and (min-width: 48rem) {
  .main-footer {
    padding: 0.625rem;
    flex-direction: row;
    gap: 2em;
  }
  .wrapper img {
    width: 28.125rem;
  }
}

@media screen and (min-width: 64rem) {
  .container {
    font-size: 0.875rem;
  }

  .contact {
    flex-direction: column;
    padding: 1.25rem;
  }

  .wrapper3,
  .wrapper2 {
    flex-direction: column;
    width: 100%;
    line-height: 1.5;
    height: 25rem;
  }

  .contact {
    flex-direction: row;
    margin-bottom: 3em;
    line-height: 1.5;
  }

  .wrapper2 p,
  .wrapper3 a {
    font-size: 0.6875rem;
  }

  .wrapper2 p {
    min-width: 12.5rem;
  }

  .wrapper2 {
    min-height: 15.625rem;
  }

  .wrapper2 h1,
  .wrapper3 h1 {
    font-size: 1.3125rem;
  }

  .wrapper {
    flex-direction: row;
  }

  .text h1,
  .text h2 {
    font-size: 2.6875rem;
  }

  h1,
  h2 {
    font-size: 1.5rem;
  }

  .text p {
    font-size: 0.875rem;
    width: 43.75rem;
  }

  .wrapper img {
    width: 28.125rem;
  }

  .text {
    position: absolute;
    top: 9.375rem;

    left: 5rem;
  }

  .text2 {
    min-width: 18.75rem;
  }

  .jpg {
    width: 25rem;
  }

  .embark {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 1.25rem;
    right: 1.25rem;
    width: 18.75rem;
    height: 9.375rem;
    background-color: #ced5d9;
    box-shadow: rgba(0, 0, 0, 0.4);
    border-radius: 0.625rem;
  }

  .embark p {
    width: 12.5rem;
    font-size: 0.75rem;
    text-align: center;
  }

  .embark a {
    text-decoration: none;
    color: #f9f9f9;
    padding: 0.625rem 1.25rem 0.625rem 1.25rem;
    background: #1d2c5c;
    border-radius: 3.125rem;
    transition: 0.3s;
    &:hover {
      padding: 0.625rem 1.4375rem 0.625rem 1.4375rem;
    }
  }

  .embark h1 {
    color: #070707;
  }

  input {
    width: 28.125rem;
  }

  button {
    width: 6.25rem;
  }

  .main-footer {
    flex-direction: row;
  }

  form {
    flex-direction: row;
  }
}
